# Escludi i file di configurazione di IntelliJ e Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Escludi i file di sistema
.DS_Store

# Escludi le cartelle di build
/build
/captures
.externalNativeBuild
.cxx

# Escludi le credenziali sensibili (ad esempio, per Google Play)
app/app-ifoc-c188dfb47005
